/*? start variabels */
:root {
  --titel-color: #44565b;
  --heder-color: #e1e8e7;
}

/*? end variabels */
/* spacial color */
/*! start global ruls */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
/* ?contianer design */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* *small screen */
@media (min-width: 776px) {
  .container {
    width: 750px;
  }
}
/* *medium screen */
@media (min-width: 970px) {
  .container {
    width: 970px;
  }
}
/* *large screen  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*!end global ruls */

/* *start header section */
.header {
  background-color: var(--heder-color);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  width: 100px;
}
.header .links {
  position: relative;
  z-index: 1;
}
.header .icon {
  position: absolute;
  width: 30px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  right: 0;
}
.header .icon:hover span:nth-child(2) {
  width: 100%;
}
.header .icon:hover span:nth-child(3) {
  width: 100%;
}
.header .icon span {
  background-color: black;
  margin-bottom: 5px;
  height: 1.5px;
  background-color: var(--titel-color);
}
.header .icon span:first-child {
  width: 100%;
}
.header .icon span:nth-child(2) {
  width: 75%;
  transition: 0.5s;
}
.header .icon span:last-child {
  width: 50%;
  transition: 0.5s;
}
.header .container .links ul {
  background-color: var(--heder-color);
  padding: 0;
  margin: 0;
  margin-top: 42px;
  list-style: none;
  width: 140px;
  position: absolute;
  text-align: center;
  right: 0;
  display: none;
}
.header .container .links:hover ul {
  display: block;
}

.header .container .links ul li {
  padding: 15px;
  margin: 0;
}
.header .container .links ul li:not(:last-child) {
  border-bottom: 1px solid black;
}
.header .container .links ul li:hover {
  background-color: #89a3a0;
}

.header .container .links ul li a {
  text-decoration: none;
  color: black;
}

.header .container .links ul:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--heder-color) transparent;
  position: absolute;
  right: 3px;
  top: -19px;
}
/* *end header section */
/* *start landing */
.landing {
  background-image: url(../images/giant-building-with-sun.jpg);
  background-size: cover;
  height: calc(100vh - 62.44px);
}
.landing .container {
  position: relative;
  height: 100%;
}
.landing .container .rilative-pos {
  position: relative;
  height: 100%;
}
.landing .container .introText {
  position: absolute;
  right: 0;
  bottom: 100px;
  color: #555;
}
.landing .container .introText h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  font-weight: 800;
}
.landing .container .introText P {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
/* *end landing */
/* *start "our team" saction */
.ourTeam {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--heder-color);
}
.ourTeam .container .teamIntro {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.ourTeam .container .teamIntro h1 {
  font-size: 30px;
  font-weight: 800;
  color: var(--titel-color);
}
@media (max-width: 410px) {
  .ourTeam .container .teamIntro h1 {
    font-size: 30px;
  }
}
.ourTeam .container .teamIntro hr {
  max-width: 340px;
  border: 0.5px solid var(--titel-color);
}
.ourTeam .container .teamIntro p {
  line-height: 1.6;
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--titel-color);
  font-size: 16px;
}
.ourTeam .container .person {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 41px;
  text-align: center;
}
.ourTeam .container .person .leader-pe {
  padding-bottom: 25px;
  padding-top: 25px;
}
.ourTeam .container .person .leader-pe img {
  width: 300px;
}
.ourTeam .container .person .leader-pe h1 {
  font-size: 25px;
  font-weight: bold;
  color: var(--titel-color);
}
.ourTeam .container .person .leader-pe p {
  line-height: 1.6;
  text-align: center;
  text-align-last: center;
  font-size: 14px;
  color: #777;
  max-width: 300px;
  margin: auto;
}
/* *end "our team" saction */
/* *start "contact us" saction */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--heder-color);
}
.contact .container .contactIntro {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--heder-color);
}
.contact .container {
  position: relative;
}
.contact .container .contactIntro h1 {
  font-size: 30px;
  font-weight: 800;
  color: var(--titel-color);
}
.contact .container .contactIntro hr {
  max-width: 340px;
  border: 0.5px solid var(--titel-color);
}
.contact .container .contactIntro p {
  line-height: 1.6;
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--titel-color);
  font-size: 16px;
}
.contact .container .input1 {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 41px;
}
.contact .container .input1 .name {
  text-align: center;
}
.contact .container .input1 .category {
  text-align: center;
}
.contact .container .input1 input {
  width: 80%;
  margin-bottom: 50px;
  background-color: transparent;
  box-shadow: none;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--titel-color);
}
.contact .container .input1 input::placeholder {
  color: var(--titel-color);
  font-size: 14px;
}
.contact .container .input1 input:focus {
  width: 80%;
  margin-bottom: 50px;
  background-color: transparent;
  box-shadow: none;
  height: 30px;
  border: none;
  border-bottom: 1px solid #666;
  outline: none;
}
.contact .container .input1 input,
select,
textarea {
  color: var(--titel-color);
}
.contact .container .mail {
  text-align: center;
  padding-bottom: 25px;
}
.contact .container .mail input {
  width: 91%;
  margin-bottom: 50px;
  background-color: transparent;
  box-shadow: none;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--titel-color);
}
@media (max-width: 580px) {
  .contact .container .mail input {
    width: 81%;
  }
}
.contact .container .mail input::placeholder {
  color: var(--titel-color);
  font-size: 14px;
}
.contact .container .mail input:focus {
  margin-bottom: 50px;
  background-color: transparent;
  box-shadow: none;
  height: 30px;
  border: none;
  border-bottom: 1px solid #666;
  outline: none;
}
.contact .container .mail input,
select,
textarea {
  color: var(--titel-color);
}
.contact .container .mail input:last-child {
  height: 100px;
}
.contact .container .mail input:last-child::placeholder {
  position: absolute;
  top: 0;
}
.contact .container .but {
  position: relative;
  height: 53px;
  width: 92%;
  margin: auto;
}
@media (max-width: 580px) {
  .contact .container .but {
    width: 82%;
  }
}
.contact .container .but button {
  padding: 10px 13px;
  background-color: var(--titel-color);
  color: var(--heder-color);
  position: absolute;
  right: 0;
  font-weight: bold;
}
/* *end "contact us" saction */
/* **start abou us scation */
.aboutUs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--titel-color);
}
.aboutUs .container .aboutIntro {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--heder-color);
}
.aboutUs .container .aboutIntro h1 {
  font-size: 30px;
  font-weight: 800;
  color: var(--heder-color);
}
.aboutUs .container .aboutIntro hr {
  max-width: 340px;
  border: 0.5px solid var(--heder-color);
}
.aboutUs .container .aboutIntro p {
  line-height: 1.6;
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--heder-color);
  font-size: 16px;
}
.aboutUs .container .grid {
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 41px;
}
.aboutUs .container .grid .about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 13px;
  padding-bottom: 20px;
}

.aboutUs .container .grid .about .img {
  text-align: center;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

.aboutUs .container .grid .about .img img {
  border-radius: 50%;
  width: 150px;
  border: 1.5px solid var(--heder-color);
}
@media (max-width: 970px) {
  .aboutUs .container .grid .about .img img {
    width: 100px;
  }
}
.aboutUs .container .grid .about .img p {
  font-size: 14px;
  border: 1.5px solid var(--heder-color);
  margin-top: 20px;
  line-height: 30px;
  margin-right: 4px;
  font-weight: bold;
  color: var(--heder-color);
  margin-bottom: 0;
}
@media (max-width: 970px) {
  .aboutUs .container .grid .about .img p {
    font-size: 11px;
  }
}
.aboutUs .container .grid .about .img p::after {
  content: "";
  width: 1.5px;
  background-color: var(--heder-color);
  position: absolute;
  top: 176px;
  height: 22px;
  left: 50%;
}
@media (max-width: 970px) {
  .aboutUs .container .grid .about .img p::after {
    top: 126px;
  }
}
.aboutUs .container .grid .image {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(../images/Untitled-7.jpg);
  background-size: cover;
  height: 250px;
  border: 1px solid black;
}
@media (max-width: 970px) {
  .aboutUs .container .grid .image {
    height: 200px;
  }
}
/* *end abou us scation */
/* *start footer saction */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--titel-color);
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .container p {
  line-height: 1.6;
  max-width: 600px;
  color: var(--heder-color);
  font-size: 16px;
}
@media (max-width: 660px) {
  .footer .container p {
    text-align: center;
    font-size: 13px;
    width: 100%;
  }
  .footer .container .link {
    width: 100%;
    text-align: center;
  }
}
.footer .container i {
  margin-left: 10px;
  font-size: 18px;
  color: var(--heder-color);
}
/* *end footer saction */
